KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/clock.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/isr_wrapper.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/memman.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/ps2ctrl.o \
$(ARCHDIR)/vga.o \
